* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 625%;
}
body {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29bde0;
    color: #fff;
}
.nav-left3 {
    background-image: url(./img/task7-31.png);
    width: .51rem;
    height: .42rem;
    transform: scale(0.5);
}
.nav-right3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: .4rem;
    height: .4rem;
    background-image: url(./img/task7-32.png);
    transform: scale(0.6);
}
.nav-img {
    width: .4rem;
    height: .4rem;
}
.play {
    font-size: 0.16rem;
}
.main3 {
    position: relative;
    width: 100%;
    margin-top: .4rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;

    border-top: 0.01rem solid #74d4eb;
}
.bg-nav {
    width: 100%;
    background-color: #29bde0;
    color: #fff;
}
.nav-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1.3rem;
}
.nav-bg-1 {
    position: absolute;
    top: -0.42rem;
    width: 3.51rem;
    height: 2.05rem;
    background-image: url(./img/task7-34.png);
    transform: scale(.5);
    text-align: center;
    z-index: 2;
}
.nav-bg-2 {
    position: relative;
    top: -0.225rem;
    width: .85rem;
    height: .84rem;
    background-image: url(./img/task7-35.png);
    transform: scale(.5);
}
.nav-bg-3 {
    position: absolute;
    top: 0.75rem;
    font-size: .22rem;
    color: #fff;
    z-index: 3;
}
.bg-nav2 {
    /*margin-top: .4rem;*/
    padding: 0 7%;
    color: #ffc865;
    font-size: 0.16rem;
    letter-spacing: .01rem;
}
.row-text {
    padding: 0 7%;
}
.row-text1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row-text2 {
    margin-top: .2rem;
}
.row-text3 {
    margin-bottom: .1rem;
}
.part {
    width: 100%;
    color: #a6a6a6;
}
.playtime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .02rem;
}
.playtime-day {
    font-size: .16rem;
    color: #0f0f0f;
}
.row-text4 {
    padding-bottom: .02rem;
    border-bottom: .01rem solid #a6a6a6;
}
.footer3 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(153,223,240,0.5);
    padding: 0 5%;
}
.start-again,
.uploading {
    width: 40vw;
    height: .4rem;
    border: none;
    border-radius: .05rem;
    outline: none;
    font-size: .18rem;
    color: #fff;
}
.start-again {
    background-color: #f66f6f;
}
.uploading {
    background-color: #fbb435;
}