* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 625%;
}
body {
    width: 100%;
    height: 100%;
}
header  {
    width: 100%;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29bde0;
    color: #fff;
}
.nav-left {
    background-image: url(./img/task7_05.png);
    width: .39rem;
    height: .4rem;
    margin-left: .1rem;
    transform: scale(0.6);
}
.nav-right {
    width: .36rem;
    height: .36rem;
    background-image: url(./img/task7_06.png);
    margin-right: .1rem;
    transform: scale(.6);
}
main {
    position: relative;
    width: 100%;
    margin-top: .4rem;
}
.vote {
    position: fixed;
    left: 0;
    top: .4rem;
    width: 100%;
    height: .52rem;
    background-color: #b9e9f5;
    color: #464646;
    z-index: 1;
}
.vote-div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sp {
    padding-left: .3rem;
}
.bt-vote {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .52rem;
    height: .52rem;
    margin-right: -0.12rem;
    border-radius: 50%;
    background-color: #d58512;
    /*background: url(./img/sprit7-2.png) -0.97rem -0.48rem;*/
    transform: scale(0.6);
}
.vote-a {
    width: .27rem;
    height: .3rem;
    background: url(./img/sprit7-2.png) -1.6rem -0.45rem;
}
.div-vote {
    height: 0.4rem;
    background-color: #29bde0;
}
.talk {
    position: relative;
    top: 0;
    left: .35rem;
    width: .15rem;
    height: .13rem;
    background: url(./img/sprit7-2.png) 0 -0.96rem;
}
.move {
    height: .4rem;
    padding-left: .35rem;
    color: #fff;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.32rem;
    margin-bottom: .8rem;
    background-color: #29bde0;
}
.grid-one {
    width: 21vw;
    height: 21vw;
    background-color: #f5c97b;
    margin: 1.5vw 5vw;
    border: .5vw solid #fff;
}

.element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21vw;
    margin:  5vw;
    opacity: 0;
    /*margin: ;*/
}
.icon-7 {
    width: 4vw;
    height: 4vw;
    /*background-image: url(./img/task7_01.png);*/
    /*background-size: 400% auto;*/
    /*background-repeat: no-repeat;*/
}
.ico1 {
    /*width: 0.3rem;*/
    /*height: 0.3rem;*/
    /*background: url(./img/task7_01.png) 0 0;*/
    /*background-position: 0 0;*/
}
.ico2 {
    /*width: 0.3rem;*/
    /*height: 0.3rem;*/
    /*background: url(./img/task7_02.png) -0.3rem 0;*/
    /*background-position: 0 0;*/
}
.ico3 {
    /*width: .3rem;*/
    /*height: .3rem;*/
    /*background: url(./img/task7_03.png) -0.9rem 0;*/
    /*background-position: 0 0;*/
}
.ico4 {
    /*width: .3rem;*/
    /*height: .3rem;*/
    /*background: url(./img/task7_04.png) -1.2rem 0;*/
    /*background-position: 0 0;*/
}
.ele:hover .element{
    opacity: 1;
}
.grid-two {
    margin-top: 3vw;
}
.status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
    font-size: .08rem;
    background-color: #83b09a;
    color: #fff;
}

footer {
    position: fixed;
}
.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .8rem;
    background-color: #29bde0;
}
.die {
    width: 80vw;
    height: .5rem;
    border: none;
    font-size: .25rem;
    background-color: #fbb435;
    color: #fff;
}