* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 625%;
}
body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
header {
    width: 100%;
    height: 0.4rem;
    background-color: #fff;
}
.header_a{
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    vertical-align: middle;
    line-height: 0.4rem;
    transform: scale(.8);
}

.tel {
    float: left;
    line-height: 0.4rem;
}
.header_icon {
    line-height: 0.4rem;
}
.icon1 {
    background-image: url(./images/icon_01.jpg);
}
.icon2 {
    background-image: url(./images/icon_02.jpg);
}
.icon3 {
    background-image: url(./images/icon_03.png);
}
.nav_div {
    width: 100%;
    background-color: #29b078;
}
.navbar-default {
    margin-bottom: 0;
    border: none;
    background-color: #29b078;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}

.nav_logo {
    max-width: 1.39rem;
    transform: translateY(20%);
}
.nav_a {
    height: 1rem;
    font-size: 0.16rem;
}
.navbar-nav a:hover {
    border-bottom: 0.03rem solid #fff;
}
.navbar-nav>li>a {
    line-height: 0.7rem;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #29b078;
}
.carousel-control {
    top: 50%;
    width: 40%;
    height: 15%;
    transform: translateY(-50%);

}
.carousel-caption p {
    padding-left: 1.6rem;
    margin-bottom: -0.2rem;
    font-size: 0.18rem;
    color: #fff;
}
.carousel-caption h3 {
    color: #fff;
    margin-bottom: 1.3rem;
    margin-top: 0;
}
.carousel-caption span {
    font-size: 0.6rem;
}
.advantage {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.home_page_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_page_col img {
    width: 0.6rem;
    height: 0.62rem;
}
.home_page_col h4 {
    margin: 0.2rem 0;
}
.home_page_col p {
    color: #999998;
}
.home_page_md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-left: 0.01rem dashed #999;
    color: #999998;
}
.home_page_md span {
    padding-left: 0.1rem;
    color: #26a26f;
}
.task {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.task h4 {
    color: #29b078;
}
.task1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.74rem;
    height: 0.74rem;
    background-image: url(./images/icon8.png);
    transform: scale(.8);
}
.task2 {
    width: 0.26rem;
    height: 0.26rem;
    background-image: url(./images/icon9.png);
}
.task p {
    width: 1.5rem;
    padding: 0 0.05rem;
    margin-bottom: 0;
    color: #999999;
}
.taskh {
    padding: 0.2rem 0;
}
.task_skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 3rem;
    padding: 0.1rem 0.25rem;
    background-color: #fff;
}
.task_skill h4 {
    margin-top: 0.15rem;
    padding-bottom: 0.15rem;
}
.task3 {
    width: 1.08rem;
    height: 1.08rem;
    background-image: url(./images/icon13.png);
}
.task4 {
    width: 1.08rem;
    height: 1.08rem;
    background-image: url(./images/icon14.png);
}
.task5 {
    width: 1.08rem;
    height: 1.08rem;
    background-image: url(./images/icon12.png);
}
.task6 {
    width: 1.08rem;
    height: 1.08rem;
    background-image: url(./images/icon11.png);
}
.spot {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    background-image: url(./images/icon10.png);
}
.spot1 {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    border: 0.01rem solid;
    border-radius: 50%;
    background-color: #29b078;
}
.col_company {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 2.63rem;*/
    height: 1.98rem;
    padding: 0;
    /*background-color: #fff;*/
}
.company1 {
    width: 2.12rem;
    height: 1.76rem;
    background-image: url(./images/icon19.png);
}
.company2 {
    width: 1.75rem;
    height: 1.41rem;
    background-image: url(./images/icon18.png);
}
.company3 {
    width: 2.63rem;
    height: 1.98rem;
    background-image: url(./images/icon17.png);
}
.company4 {
    width: 1.75rem;
    height: 0.65rem;
    background-image: url(./images/icon16.png);
}
.company5 {
    width: 1.74rem;
    height: .65rem;
    background-image: url(./images/icon15.png);
}
.link_color {
    margin-top: 0.5rem;
    background-color: #fff;
}
.link_task {
    padding: 0.1rem 0;
}
.link_row {
    padding: 0 8%;
}
.link_row a {
    text-decoration: none;
    border-bottom: none;
    color: #999;
}
.link_row a:hover {
    border-bottom: 0.01rem solid;
}
.link_row li {
    padding: 0 0.1rem;
    color: #999;
}
footer {
    width: 100%;
    background-color: #26a26f;
    color: #fff;
}
.foot {
    display: flex;
    flex-direction: column;
}
.foot_con {
    padding-top: 0.2rem
}
.empty {
    width: 0.2rem;
    height: 0.2rem;
}
.footer_a {
    padding-right: 0.1rem;
    color: #fff;
}
.footer_a:hover, .footer_a1:hover {
    color: #fff;
}
.footer_a1 {
    padding-left: 0.1rem;
    border-left: 0.01rem solid #fff;
}
.foot_pubic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
}
.foot_md {
    padding: 0.3rem 0;
}
.foot_md1 {
    padding: 0.4rem 0;
}
.page_foot {
    width: 100%;
    margin-top: 0.15rem;
    border-top: 0.01rem solid #fff;
    padding-top: 0.02rem;
}
.span_right {
    border-left: 0.01rem solid #fff;
    padding-left: 0.05rem
}

.enterprise_main {
    padding-bottom: 2rem
}
.enterprise_bg {
    width: 100%;
    height: 1.8rem;
    background-image: url(./images/bg2.png);
    background-size: cover;
}
.enterprise_next {
    padding-top: 0.15rem;
}
.enterprise_next_a1 {
    color: #000;
}
.enterprise_next_a1:hover {
    text-decoration: none;
    color: #000;
}
.enterprise_next_a {
    color: #29b078;
}
.enterprise_next_a:hover {
    text-decoration: none;
    color: #29b078;
}
.enterprise_text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5rem;
    line-height: 0.5rem;
}
.enterprise_text1 {
    width: 100%;
    border-bottom: 0.01rem solid #999;
}
.enterprise_icon {
    width: 1.34rem;
    height: 1.22rem;
    float: left;
    margin-left: 0.2rem;
    background-image: url(./images/icon2-2.png);
}
.enterprise_text a {
    color: #29b078;
    text-decoration: none;
}
.yuan {
    width: 0.1rem;
    height: 0.1rem;
    margin-right: 0.05rem;
    border: 0.01rem solid red;
    border-radius: 50%;
}
.enterprise_md3 {
    background-color: #fff;
    padding: 0;
}
.enterprise_md8 {
    background-color: #fff;
}
.enterprise_md8_div {
    width: 100%;
    border-bottom: 0.01rem solid #999;
    height: 1.3rem;
}
.enterprise_md8_div p {
    height: 1.3rem;
    padding-top: 0.15rem
}
.enterprise_md8_p {
    padding: 0.2rem 0.2rem;
}
.profession_flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profession_flex3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profession_direction {
    padding: 0.1rem 0;
    border-top: 0.01rem solid #999;
    border-bottom: 0.01rem solid #c9e2b3;
}
.profession_direction span {
    color: #999;
}
.profession_direction a {
    margin-left: 0.1rem;
    color: #000;
    text-decoration: none;
}
.profession_direction a:hover {
    color: #fff;
    background-color: #29b078;

}
.profession_direction1 {
    padding: 0.1rem 0;
    border-bottom: 0.01rem solid #999;
}
.profession_intro {
    background-color: #fff;
    margin: 0.2rem 0;
}
.intro_div {
    width: 32%;
}
.intro_icon {
    float: left;
    margin: 5% 3%;
    width: 1.39rem;
    height: 1.39rem;
    background-image: url(./images/icon3-1.png);
}
.icon_h4 {
    margin-top: 5%
}
.profession_row {
    border-top: 0.01rem solid #c9e2b3;
}
.text-color {
    color: #998;
}
.profession_col {
    border-right: 0.01rem solid #c9e2b3;
}
.span_color {
    color: red;
}
.intro_money {
    height: 0.66rem
}
.intro_hidden {
    position: absolute;
    top: 0;
    width: 3.76rem;
    height: 3.75rem;
    opacity: 0;
    background-color: #000;
    color: #fff;
}
.intro_hidden:hover {
    opacity: 0.7;
}
.row p {
    word-break:break-all;
}